/* 用户头像样式 */
.user-image{
  width: 50px;
  height: 50px;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 5px;
  margin-top: 3px;
}
.logo-title {
  font-size: 20px;
  flex-grow: 1;
}
.user-area {
  margin-left: 15px;
}

.btn-area{
  margin-left: 15px;
}

.article-tag.el-tag {
  margin-left: 10px;
  cursor: pointer;
}

/* 由于效果需要，用于修改elementui自带表单一些样式的样式 */
.article-edit-form .el-form-item{
  margin-bottom: 0;
}

.article-edit-form .el-form-item.mb-8{
  margin-bottom: 8px;
}

.article-edit-form .el-input__inner{
  border: 0;
  font-size: 20px;
  padding-left: 0;
}

.article-cover{
  width: 240px;
  height: 160px;
  position: relative;
}

.article-cover .op-layer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 70%);
}

.article-cover .cover-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 240px;
  height: 160px;
  line-height: 160px;
  text-align: center;
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
}

.article-cover .cover-uploader-icon:hover{
  border-color: #409EFF;
  color: #409EFF;
}

/* 标签容器中的按钮样式 */
.tags-container .el-button,
.tags-container .el-button + .el-button{
  margin-left: 0;
  margin-right: 10px;
  margin-top: 10px;
}
.tags-selected{
  display: inline-block;
}
.addtag-btn,
.tags-selected .el-tag{
  margin-right: 10px;
}

/* 添加样式让select显示为100%宽度 */
.el-select.full-row{
  display: block;
}

.el-textarea .el-input__count{
  line-height: 1.2;
}

.el-tag.el-tag--info {
  color: #333333;
}
